REACT_APP_HUGGING_FACE_API_KEY="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"
REACT_APP_NFT_STORAGE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweENmOTVhZTQ2NkFkRmMxMDBENDhFOTdhZjczNTI4RWJhODk1ODc2MEYiLCJpc3MiOiJuZnQtc3RvcmFnZSIsImlhdCI6MTY4MTM4NzM5NjM5OSwibmFtZSI6Ik5GVF9rZXkifQ.c3V1jSz9Pcb8qExoaI2Ia4L4_cp8eqDZb9hfTmGq0rk"